* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(135deg, #040118, #0B0344, #040118);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Navbar Section CSS */

.nav-section {
    margin: 0;
    padding: 20px 40px;
    margin-bottom: 40px;

    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 1100px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: fadeIn 1s ease;
}

.logo {
    padding: 5px 10px;

    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    word-spacing: 3px;
    letter-spacing: 2px;

    color: #9B8FFA;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

.menu {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 50px;

    color: #9B8FFA;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

.menu li>a {
    padding: 5px 10px;
    position: relative;

    color: #9B8FFA;
    text-decoration: none;
}

.menu li {
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    transition: all 0.3s ease;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Main Hero Section CSS */

.main-hero {
    margin-bottom: 60px;
}

.main-container {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: #7463F8;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main-logo img {
    width: 200px;

    box-shadow: 0 0 80px rgba(139, 92, 246, .25);
    border: 3px solid gray;
    border-radius: 50%;
}


.main-position {
    padding: 8px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    box-shadow: 0 0 80px rgba(139, 92, 246, .25);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(50px);
    border: 2px solid gray;
    border-radius: 20px;

    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    white-space: nowrap;
}

.main-intro {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: "Montserrat", sans-serif;
}

.main-intro h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.main-intro p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-family: "Montserrat", sans-serif;
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.opportunity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.main-menu button  {
    padding: 10px 15px;

    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s ease;
}

.view-projects button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: #7463F8;
    border: 2px solid #fff;

    color: #fff;
    font-weight: bold;

    transition: 0.3s ease;
}

.view-projects button:hover {
    transform: translateY(-3px);
}

.resume button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    color: #7463F8;

    /* background: rgba(255, 255, 255, 0.1); */
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    border: 2px solid #7463F8;
    backdrop-filter: blur(25px);
}

.resume button:hover {
    color: #fff;
    background-color: #7463F8;
    border: 2px solid #fff;
}

.main-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-profiles a {
    width: 38px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);

    color: #7463F8;
    text-decoration: none;

    transition: 0.3s ease;
}

/* About Me Section CSS */

.about-me {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-section h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.about-section h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.about-info {
    padding: 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.about-info p {
    color: rgba(168, 178, 255, 0.8);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    word-spacing: 2px;
    line-height: 1.3;

    text-align: left;
}

.about-info strong {
    color: #C4B5FD;
}


/* Experience Section CSS */

.experience {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.exp-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.exp-section h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.exp-section h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.exp-cards {
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.exp-cards::before {
    content: "";
    position: absolute;
    left: 38px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #7463F8;
}

.timeline-item {
    position: relative;
    padding: 30px;

    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;

    transition: all 0.3s ease;
}

.timeline-item:hover {
    cursor: pointer;

    border: 1px solid rgba(116, 99, 248, 0.6);
    background: rgba(116, 99, 248, 0.08);
    backdrop-filter: blur(10px);
    transform: translateY(-4px);
}

.timeline-item:hover .timeline-dot {
    box-shadow: 0 0 10px #7463F8;
}

.timeline-dot {
    position: absolute;
    left: -10px;
    top: 35px;
    width: 16px;
    height: 16px;
    background: #7463F8;
    border-radius: 50%;
}

.timeline-content {
    margin-left: 30px;
}

.timeline-content h3 {
    color: #7463F8;
    margin-bottom: 5px;

    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    gap: 8px;
}

.timeline-content span {
    font-size: 0.9rem;
    color: #A8B2FF;

    font-family: "Montserrat", sans-serif;
}

.timeline-content p {
    margin-top: 10px;

    color: #A8B2FF;
    line-height: 1.6;

    font-family: "Montserrat", sans-serif;
}


/* Projects Section CSS */

.projects {
    margin: 60px auto;
    padding: 60px 20px;
    width: 100%;
    max-width: 1400px;

    text-align: center;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    transition: 0.3s ease;
    animation: fadeIn 1s ease;
}

.projects:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.projects h2 {
    margin-bottom: 40px;

    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

    animation: fadeIn 1s ease;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-card {
    padding: 20px;
    width: 320px;

    background: rgba(20, 30, 60, 0.4);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    backdrop-filter: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: 0.3s ease;
    animation: fadeIn 1s ease;
}

.project-card::before {
    content: "";

    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    opacity: 0;

    transition: 0.3s ease;
}

.project-card:hover::before {
    opacity: 1;
}

.project-card img {
    margin-bottom: 10px;
    width: 100%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.project-links button {
    margin-top: 10px;
    padding: 10px 20px;

    background: white;
    border: none;
    border-radius: 10px;
    color: black;

    cursor: pointer;

    transition: 0.3s ease;
}

.project-links button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.08);
}

.project-card h3 {
    margin-bottom: 10px;

    font-size: 1.5rem;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.project-card p {
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project-links a {
    display: inline-block;
}


/* Skills Section CSS */

.skill-section {
    margin: 60px auto;
    padding: 40px;
    width: 100%;
    max-width: 1400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: white;

    transition: 0.3s ease;
    animation: fadeIn 1s ease;
}

.skill-section:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.skill-section h2 {
    margin-bottom: 40px;

    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.skills {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Right Side */
.skill-text {
    padding: 20px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    font-family: "Montserrat", sans-serif;
}

.skill-text h3 {
    margin-bottom: 15px;

    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}

.skill-text p {
    font-size: 1.2rem;
    line-height: 1.6;

    opacity: 0.9;
}

/* Left Side */
.skill-icons {
    width: 100%;
    max-width: 450px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}

/* Skill Card */
.skill-card {
    padding: 20px;
    width: 120px;

    background: rgba(20, 30, 60, 0.4);
    backdrop-filter: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    text-align: center;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    transition: 0.3s ease;
}

.skill-card::before {
    content: "";

    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    opacity: 0;
}

.skill-card:hover::before {
    opacity: 1;
}

.skill-card img {
    margin-bottom: 10px;
    width: 50px;
}

/* 
.skill-card:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-8px) scale(1.05);
} */


/* Contact Section CSS */

.contact {
    margin: 60px auto;
    padding: 40px;
    width: 100%;
    max-width: 1400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: white;

    transition: 0.3s ease;
    animation: fadeIn 1s ease
}

.contact:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.contact-content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.contact-img img {
    width: 100%;
    max-width: 450px;
}

.contact h2 {
    margin-bottom: 10px;

    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
}

.contact p {
    margin-bottom: 40px;
}

.contact-form {
    margin: 0;
    width: 100%;
    max-width: 450px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    padding: 10px;

    background: white;
    border: none;
    border-radius: 10px;
    color: black;

    cursor: pointer;

    transition: 0.3s ease;
}

.contact-form button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}


/* Footer Section CSS */

.footer {
    margin-top: 60px;
    padding: 20px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-size: 1rem;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3);
}

.socials {
    display: flex;
    gap: 20px;
}

.profiles a {
    padding: 0 10px 0 0;
    text-decoration: none;
    color: white;
    position: relative;
}

.profiles a::after {
    content: "";

    width: 0;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -3px;

    background: white;

    transition: 0.3s ease;
}

.profiles a:hover::after {
    width: 100%;
}


/* Animation for Fade In Effect */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes revealText {
    to {
        transform: translateX(0);
    }
}


/* Mobile Responsive Web Design */

@media (max-width: 768px) {

    /* Hero */
    .hero-section {
        padding: 20px;
        width: 90%;

        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-section img {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    /* Navber */
    .menu {
        display: none;
    }

    /* About Me */
    .about-me {
        padding: 20px;
        width: 90%;
    }

    .about {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }

    /* Skills */
    .skill-section {
        padding: 20px;
        width: 90%;
    }

    .skills {
        width: 100%;
        flex-direction: column;
    }

    .skill-text {
        padding: 20px;
    }

    .skill-card {
        width: 110px;
    }

    /* Projects */
    .projects {
        width: 90%;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
        box-shadow: none;
    }

    /* Contact */
    .contact {
        width: 90%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-section {
        width: 100%;
        justify-content: center;
    }

    .contact-form {
        width: 90%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}