* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 100px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: linear-gradient(135deg, #040118, #0B0344, #040118);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Navbar Section CSS */

.nav-section {
    margin: 0;
    padding: 20px 40px;
    margin-bottom: 40px;

    position: sticky;
    top: 0;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 1100px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: fadeIn 1s ease;
}

.logo {
    padding: 5px 10px;

    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    word-spacing: 3px;
    letter-spacing: 2px;

    color: #9B8FFA;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

    cursor: pointer;
}

.menu {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 50px;

    color: #9B8FFA;
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    list-style: none;
}

.menu li>a {
    padding: 5px 10px;
    position: relative;

    color: #9B8FFA;
    text-decoration: none;
}

.menu li {
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    transition: all 0.3s ease;
}

.menu li:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

/* Main Hero Section CSS */

.main-hero {
    margin-bottom: 60px;
}

.main-container {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: #7463F8;
}

.main-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.main-logo img {
    width: 200px;

    box-shadow: 0 0 80px rgba(139, 92, 246, .25);
    border: 3px solid gray;
    border-radius: 50%;
}


.main-position {
    padding: 8px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    box-shadow: 0 0 80px rgba(139, 92, 246, .25);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    backdrop-filter: blur(50px);
    border: 2px solid gray;
    border-radius: 20px;

    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    width: fit-content;
    white-space: nowrap;
}

.main-intro {
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-family: "Montserrat", sans-serif;
}

.main-intro h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
}

.main-intro p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    font-family: "Montserrat", sans-serif;
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.opportunity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main-nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.main-menu button {
    padding: 10px 15px;

    border-radius: 15px;

    cursor: pointer;
    transition: 0.3s ease;
}

.view-projects button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: #7463F8;
    border: 2px solid #fff;

    color: #fff;
    font-weight: bold;

    transition: 0.3s ease;
}

.view-projects button:hover {
    transform: translateY(-3px);
}

.resume button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-weight: 600;
    color: #7463F8;

    /* background: rgba(255, 255, 255, 0.1); */
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.1), transparent);
    border: 2px solid #7463F8;
    backdrop-filter: blur(25px);
}

.resume button:hover {
    color: #fff;
    background-color: #7463F8;
    border: 2px solid #fff;
}

.main-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-profiles a {
    width: 38px;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);

    color: #7463F8;
    text-decoration: none;

    transition: 0.3s ease;
}

/* About Me Section CSS */

.about-me {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.about-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-section h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.about-section h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.about-info {
    padding: 20px 40px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.about-info p {
    color: rgba(168, 178, 255, 0.8);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    word-spacing: 2px;
    line-height: 1.3;

    text-align: left;
}

.about-info strong {
    color: #C4B5FD;
}


/* Experience Section CSS */

.experience {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.exp-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.exp-section h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.exp-section h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.exp-cards {
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.exp-cards::before {
    content: "";
    position: absolute;
    left: 38px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #7463F8;
}

.timeline-item {
    position: relative;
    padding: 30px 30px 30px 10px;

    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;

    transition: all 0.3s ease;
}

.timeline-item:hover {
    cursor: pointer;

    border: 1px solid rgba(116, 99, 248, 0.6);
    background: rgba(116, 99, 248, 0.08);
    backdrop-filter: blur(10px);
    transform: translateY(-4px);
}

.timeline-item:hover .timeline-dot {
    box-shadow: 0 0 10px #7463F8;
}

.timeline-dot {
    position: absolute;
    left: -10px;
    top: 35px;
    width: 16px;
    height: 16px;
    background: #7463F8;
    border-radius: 50%;
}

.timeline-content {
    margin-left: 30px;
}

.timeline-content h3 {
    color: #7463F8;
    margin-bottom: 5px;

    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    gap: 8px;
}

.timeline-content span {
    font-size: 0.9rem;
    color: #A8B2FF;

    font-family: "Montserrat", sans-serif;
}

.timeline-content p {
    margin-top: 10px;

    color: #A8B2FF;
    line-height: 1.6;

    font-family: "Montserrat", sans-serif;
}


/* Projects Section CSS */

.projects {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.projects h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.projects h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.project-container {
    padding: 20px 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card {
    width: 100%;
    height: 100%;

    background: rgba(116, 99, 248, 0.03);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    transition: all 0.3s ease;
}

.project-card:hover {
    background: rgba(116, 99, 248, 0.08);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(116, 99, 248, 0.6);
    transform: translateY(-4px);
}

.project-card img {
    margin-bottom: 10px;
    width: 100%;
    height: 160px;
    object-fit: cover;

    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    transition: 0.3s ease;
}

.project-card img:hover {
    transform: scale(1.05);
}

.project-info {
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;
}

.project-card h3 {
    margin-bottom: 10px;

    font-family: "Montserrat", sans-serif;
    color: #7463F8;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);

    flex-grow: 1;
}

.project-card p {
    margin-bottom: 10px;

    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
    color: #A8B2FF;
    line-height: 1.6;

    flex-grow: 2;
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    flex-grow: 2;
}

.project-links a {
    display: inline-block;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;

    border-radius: 10px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.primary {
    background: #7463F8;
    color: white;
    border: none;
}

.secondary {
    background: transparent;
    border: 1px solid #7463F8;
    color: #7463F8;
}

.primary:hover {
    box-shadow: 0 0 12px rgba(116, 99, 248, 0.6);
}

.secondary:hover {
    background: rgba(116, 99, 248, 0.15);
}


/* Education Section CSS */

.education {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.edu-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.edu-section h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.edu-section h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.edu-container {
    position: relative;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.edu-container::before {
    content: "";
    position: absolute;
    left: 38px;
    top: 0;
    width: 2px;
    height: 100%;
    background: #7463F8;
}

.edu-item {
    position: relative;
    padding: 30px 30px 30px 10px;

    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;

    transition: all 0.3s ease;
}

.edu-item:hover {
    cursor: pointer;

    border: 1px solid rgba(116, 99, 248, 0.6);
    background: rgba(116, 99, 248, 0.08);
    backdrop-filter: blur(10px);
    transform: translateY(-4px);
}

.edu-item:hover .timeline-dot {
    box-shadow: 0 0 10px #7463F8;
}

.timeline-dot {
    position: absolute;
    left: -10px;
    top: 35px;
    width: 16px;
    height: 16px;
    background: #7463F8;
    border-radius: 50%;
}

.edu-card {
    margin-left: 30px;
}

.edu-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edu-header h3 {
    color: #7463F8;

    font-family: "Montserrat", sans-serif;

    display: flex;
    align-items: center;
    gap: 8px;
}

.edu-year {
    font-size: 0.8rem;
    color: #A8B2FF;

    font-family: "Montserrat", sans-serif;
}

.edu-college {
    margin-top: 10px;

    color: #7463F8;

    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.edu-desc {
    color: #A8B2FF;
    line-height: 1.6;

    font-family: "Montserrat", sans-serif;
}

.edu-grade {
    font-size: 0.8rem;
    color: #A8B2FF;

    font-family: "Montserrat", sans-serif;
}

.edu-grade strong {
    padding: 4px 10px;
    background: rgba(116, 99, 248, 0.15);
    border-radius: 6px;
    color: #7463F8;
}

/* Skills Section CSS */

.skills {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.skills h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.skills h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 40px;
}

.skill-chip {
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 0.9rem;

    color: #DADFFF;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(135deg,
            rgba(116, 99, 248, 0.15),
            rgba(116, 99, 248, 0.05));

    border: 1px solid rgba(116, 99, 248, 0.3);

    will-change: transform;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 0.5s ease forwards,
        float 3s ease-in-out infinite 0.5s;
}

.skill-chip:hover {
    cursor: pointer;

    transform: translateY(-3px) scale(1.05);

    border-color: #7463F8;

    box-shadow:
        0 0 10px rgba(116, 99, 248, 0.4),
        0 0 20px rgba(116, 99, 248, 0.2);
}

.skill-chip:nth-child(1) {
    animation-delay: 0.1s;
}

.skill-chip:nth-child(2) {
    animation-delay: 0.2s;
}

.skill-chip:nth-child(3) {
    animation-delay: 0.3s;
}

.skill-chip:nth-child(4) {
    animation-delay: 0.4s;
}

.skill-chip:nth-child(5) {
    animation-delay: 0.5s;
}

.skill-chip i {
    margin-right: 6px;

    transition: transform 0.3s ease;
}

.skill-chip:hover i {
    transform: scale(1.2) rotate(5deg);
}


/* Contact Section CSS */

.contact {
    margin: 120px auto;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
}

.contact h2 {
    margin-bottom: 20px;

    color: #7463F8;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;

    position: relative;
}

.contact h2::after {
    content: "";
    width: 80px;
    height: 3px;
    background: #7463F8;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    padding: 40px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card {
    padding: 20px;
    border-radius: 15px;

    background: rgba(116, 99, 248, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    gap: 15px;

    transition: 0.3s ease;
    animation: fadeUp 0.6s ease forwards;
    opacity: 0;
    cursor: pointer;

    will-change: transform;
}

.contact-card:hover {
    transform: translateY(-4px);

    background: rgba(116, 99, 248, 0.08);
    border: 1px solid rgba(116, 99, 248, 0.6);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.contact-card i {
    font-size: 1.2rem;
    color: #7463F8;
}

.contact-card p {
    color: #A8B2FF;
    font-family: "Montserrat", sans-serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px 15px;
    border-radius: 10px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(116, 99, 248, 0.03);

    color: #DADFFF;
    font-family: "Montserrat", sans-serif;

    outline: none;
    transition: 0.3s ease;
}

.contact-form textarea {
    resize: none;
    overflow: scroll;
    scroll-behavior: smooth;
}

.contact-form textarea::-webkit-scrollbar {
    display: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #7463F8;
    box-shadow: 0 0 10px rgba(116, 99, 248, 0.3);
}

.contact-form button {
    padding: 12px;
    border-radius: 10px;

    background: #7463F8;
    color: white;
    border: none;

    cursor: pointer;
    transition: 0.3s ease;

    will-change: transform;
}

.contact-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.contact-card:nth-child(1) {
    animation-delay: 0.2s;
}

.contact-card:nth-child(2) {
    animation-delay: 0.4s;
}

.contact-card:nth-child(3) {
    animation-delay: 0.6s;
}


/* Footer Section CSS */

.footer {
    margin-top: 60px;
    padding: 20px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    font-size: 1rem;
    color: white;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3);
}

.socials {
    display: flex;
    gap: 20px;
}

.profiles a {
    padding: 0 10px 0 0;
    text-decoration: none;
    color: white;
    position: relative;
}

.profiles a::after {
    content: "";

    width: 0;
    height: 2px;

    position: absolute;
    left: 0;
    bottom: -3px;

    background: white;

    transition: 0.3s ease;
}

.profiles a:hover::after {
    width: 100%;
}


/* Animation for Fade In Effect */

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Mobile Responsive Web Design */

@media (max-width: 768px) {

    /* Hero */
    .hero-section {
        padding: 20px;
        width: 90%;

        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero-section img {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    /* Navber */
    .menu {
        display: none;
    }

    /* About Me */
    .about-me {
        padding: 20px;
        width: 90%;
    }

    .about {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
    }

    /* Skills */
    .skill-section {
        padding: 20px;
        width: 90%;
    }

    .skills {
        width: 100%;
        flex-direction: column;
    }

    .skill-text {
        padding: 20px;
    }

    .skill-card {
        width: 110px;
    }

    /* Projects */
    .projects {
        width: 90%;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
        box-shadow: none;
    }

    /* Contact */
    .contact {
        width: 90%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-section {
        width: 100%;
        justify-content: center;
    }

    .contact-form {
        width: 90%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}